{% extends "base.html" %}


        {% block header %}
            <header id="cm-header">
            <nav class="cm-navbar cm-navbar-midnight">
                <div class="btn btn-midnight md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
                <div class="cm-flex">

                    {% block title %}
                    <h1>图书管理</h1>
                        {% endblock %}

                    <form id="cm-search" action="index.html" method="get">
                        <input type="search" name="q" autocomplete="off" placeholder="Search...">
                    </form>
                </div>
                <div class="pull-right">
                    <div id="cm-search-btn" class="btn btn-midnight md-search-white" data-toggle="cm-search"></div>
                </div>

                <div class="dropdown pull-right">
                    <button class="btn btn-midnight md-account-circle-white" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">

                        {% if current_user.is_authenticated %}
                        <li class="disabled text-center">
                            <a style="cursor:default;"><strong>{{ current_user.name }}</strong></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>

                        <li>
                            <a href="{{ url_for('auth.logout') }}"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
                        </li>
                        {% else %}
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('auth.register') }}"><i class="fa fa-fw fa-download"></i> Register</a>
                        </li>

                        <li>
                            <a href="{{ url_for('auth.login') }}"><i class="fa fa-fw fa-sign-out"></i> Sign in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <nav class="cm-navbar cm-navbar-default cm-navbar-slideup">
    <div class="cm-flex">
        <div class="nav-tabs-container">
            <ul class="nav nav-tabs">
                <li><a href="{{ url_for('book_operate.book_list') }}">图书列表</a></li>
                <li class="active"><a href="{{ url_for('book_operate.book_add') }}">添加图书</a></li>
            </ul>
        </div>
    </div>
</nav>
        </header>
        {% endblock %}
    {% block navbar %}
class="cm-no-transition cm-2-navbar"
{% endblock %}




{% block global %}
        <div id="global">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">添加新的图书信息</div>
                            <div class="panel-body">

    <div class="col-sm-6 col-md-4 col-lg-3" style="margin:40px auto; float:none;">
                                             {% for message in get_flashed_messages() %}
                             <div class="alert alert-warning">
                             <button type="button" class="close" data-dismiss="alert">&times;</button>
                             {{ message }}
                             </div>
                    {% endfor %}
     <form method="post" action="{{ url_for('book_operate.book_add') }}" >
	<div class="col-xs-12">
                  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="fa fa-fw fa-flag"></i></div>
	      <input type="text" name="book_isbn" class="form-control" placeholder="图书ISBN">
	    </div>
          </div>
          <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="fa fa-fw fa-book"></i></div>
	      <input type="text" name="book_title" class="form-control" placeholder="图书标题">
	    </div>
          </div>
          <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
	      <input type="password" name="book_author" class="form-control" placeholder="图书作者">
	    </div>
          </div>
                  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></div>
	      <input type="text" name="book_year_of_publication" class="form-control" placeholder="图书出版时间">
	    </div>
          </div>

                          <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="fa fa-fw  fa-dot-circle-o"></i></div>
	      <input type="text" name="book_publisher" class="form-control" placeholder="图书出版社">
	    </div>
          </div>

                                  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="fa fa-fw  fa-picture-o"></i></div>
	      <input type="text" name="book_image_url_l" class="form-control" placeholder="图书封面链接">
	    </div>
          </div>



        </div>
	<div class="col-xs-6">
          <button type="submit" class="btn btn-block btn-default">放弃</button>
	</div><div class="col-xs-6">
          <button type="submit" class="btn btn-block btn-primary">提交</button>
        </div>
      </form>
    </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
             <footer class="cm-footer"><span class="pull-left">Powered By MagicShell</span><span class="pull-right">Copyright &copy; HUANGZP 2018</span></footer>
        </div>
{% endblock %}

