{% extends "front_base.html" %}

                           {% block nav %}
            <li><a href="{{ url_for('front_index.index') }}">书屋</a></li>
            <li><a href="{{ url_for('front_index.recomm') }}">推荐</a></li>
            <li><a href="{{ url_for('front_index.top') }}">排行版</a></li>
            <li><a href="{{ url_for('front_index.myrating') }}">我的评分</a></li>
                        {% if current_user.is_authenticated %}

            <li><a href="{{ url_for('front_index.info') }}">个人中心</a></li>
                               {% else %}
            <li><a href="{{ url_for('front_index.register') }}">注册</a></li>
            <li><a href="{{ url_for('front_index.login') }}">登录</a></li>
                               {% endif %}
                {% endblock %}

                           {% block left %}
       	<div class="left_content">
            <div class="title"><span class="title_icon"><img src="images/bullet1.gif" alt="" title="" /></span>My account</div>

        	<div class="feat_prod_box_details">
            <p class="details">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            </p>

              	<div class="contact_form">
                <div class="form_subtitle">login into your account</div>
                 <form method="post" action="{{ url_for('auth.front_login') }}" >
                    <div class="form_row">
                    <label class="contact"><strong>Email:</strong></label>
                    <input type="text" name="email" class="contact_input" />
                    </div>


                    <div class="form_row">
                    <label class="contact"><strong>Password:</strong></label>
                    <input type="text" name="password" class="contact_input" />
                    </div>

                    <div class="form_row">
                        <div class="terms">
                        <input type="checkbox" name="terms" />
                        Remember me
                        </div>
                    </div>


                    <div class="form_row">
                    <input type="submit" class="register" value="login" />
                    </div>

                  </form>

                </div>

            </div>






        <div class="clear"></div>
        </div><!--end of left content-->
                           {% endblock %}